# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
env/
venv/
.env

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Git
.git
.gitignore

# IDE / OS specific
.vscode/
.idea/
*.DS_Store

# Docker
Dockerfile
.dockerignore

# Other temporary files
*.tmp
*.bak
*.swp 